<div class="container-fluid">

    <div class="chart">
        <canvas id="bar" class="chart chart-bar"
                chart-data="chartDummyData" chart-labels="chartLabels" chart-dataset-override="chartDatasetOverride" chart-options="chartOptions">
        </canvas>
    </div>

    <div class="buttons">
        <timeline-badge class="sort" ng-click="reverse()">
            <i class="fa" ng-class="{'fa-sort-asc': !reversed, 'fa-sort-desc': reversed}"></i>
        </timeline-badge>

        <timeline-badge class="success" ng-class="{marked: !eventKeys['success']}" ng-click="toggle('success')">
            <i class="fa fa-trophy"></i>
        </timeline-badge>

        <timeline-badge class="danger" ng-class="{marked: !eventKeys['danger']}" ng-click="toggle('danger')">
            <i class="fa fa-trophy"></i>
        </timeline-badge>

        <timeline-badge class="warning" ng-class="{marked: !eventKeys['warning']}" ng-click="toggle('warning')">
            <i class="fa fa-trophy"></i>
        </timeline-badge>

        <timeline-badge class="primary" ng-class="{marked: !eventKeys['primary']}" ng-click="toggle('primary')">
            <i class="fa fa-trophy"></i>
        </timeline-badge>
    </div>

    <timeline>
        <timeline-event ng-repeat="event in events | filter:eventFilterer">
            <timeline-badge class="{{event.badge}} timeline-hidden"
                            when-visible="animateElementIn" when-not-visible="animateElementOut">
                <i class="fa fa-trophy"></i>
            </timeline-badge>

            <timeline-panel class="{{event.current_status}} timeline-hidden"
                            when-visible="animateElementIn" when-not-visible="animateElementOut">
                <timeline-heading>
                    <div class="sg-icons">
                        <span class="sg-icon group-ga" ng-if="event.types.includes('group')">
                            <i class="fa fa-fw fa-user"></i>
                        </span>
                        <span class="sg-icon whitelist-ga" ng-if="event.types.includes('whitelist')">
                            <i class="fa fa-fw fa-heart"></i>
                        </span>
                        <span class="sg-icon private-ga" ng-if="event.types.includes('private')">
                            <i class="fa fa-fw fa-lock"></i>
                        </span>
                        <span class="sg-icon region-ga" ng-if="event.types.includes('region')">
                            <i class="fa fa-fw fa-globe"></i>
                        </span>
                        <span class="sg-icon level-ga" ng-if="event.giveaway_level > 0">
                            Level {{event.giveaway_level}}+
                        </span>
                    </div>
                    <h4>{{event.game_name}}</h4>
                </timeline-heading>
                <p>
                    <a target="_blank" href="{{event.steam_link}}">
                        <img class="img-responsive" ng-src="{{event.game_image_url}}">
                    </a>
                </p>
                <div>
                    Played {{event.playtime}}
                </div>
                <div>
                    From <a target="_blank" href="{{event.creator_profile_url}}">{{event.creator_name}}</a>
                </div>
                <p>
                    <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{event.giveaway_win_date}}
                    </small>
                </p>
            </timeline-panel>
        </timeline-event>
    </timeline>
</div>